mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
}

mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
}

// .res {
//   position: absolute;
//   background-color: transparent;
//   z-index: 20;
// }

a {
  text-decoration: none;
  color: white;
  list-style-type: none;
}

a:hover {
  //color: #ff8671;
  color: black;
}

li {
  list-style: none;
}

.sidenav {
  width: 10%;
  background: rgba(0, 0, 0, 0.753);
  // background: rgba(128, 128, 128, 0.774);
}

.matlist {
  color: white;
}

mat-list-item:hover {
  //color: #ff8671;
  color: #d4af37;
}
